:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --white-color: #ffffff;
    --black-color: #000000;
    --background-team-color: #f5f4fa;
    --background-hero-footer: #2f303a;
    --accent-color: #2196F3;
    --button-active-color: #188CE8;
    --footer-mail-tel-color: rgba(255, 255, 255, 0.6);
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-text-color);
    background-color: var(--white-color);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.visually-hidden {
    visibility: hidden;
}
.index-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}

.specification {
    display: flex;
    justify-content: center;
    margin-bottom: 94px;
}

.specification-title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 50px;
}

.specification-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.specification-item {
}

.header {
    background-color: var(--white-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    justify-content: space-around;
}

.header-navigation {
    display: flex;
}

.header-list {
    display: flex;
    gap: 50px;
    flex-direction: row;
    margin-left: 93px;
    align-items: center;
}

.header-link,
.footer-link {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.container-header {
    display: flex;
    justify-content: space-between;
}

.container-hero {
    width: 696px;
}

.container-advances {
    display: flex;
    justify-content: center;
    width: 1170px;
}

.specification-wrap {
    display: flex;
    justify-content: center;
}

.specification-container {
    
}

.team-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 648px;
}

.team-wrap {
    display: flex;
    justify-content: center;
}

.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 252px;
    margin-left: 215px;
}

.filters-container {
    display: flex;
    justify-content: center;
}

.portfolio-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 94px;
}

.header-mail,
.header-tel
{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.footer-mail,
.footer-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-mail-tel-color)
}

.header-mail:hover,
.header-tel:hover,
.footer-mail:hover,
.footer-tel:hover {
    color: var(--accent-color);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-hero-footer);
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    height: 600px;
}

.hero-title {
    text-align: center;
}

.hero-button {
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
    width: 216px;
    height: 50px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
}

.hero-button:hover,
.hero-button:focus {
    background: var(--button-active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.header-logo-item {
    color: var(--black-color);
}

.footer {
    background-color: var(--background-hero-footer);
    font-family: 'Roboto';
    font-style: normal;
}

.address {
    font-style: normal;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-bottom: 20px;
}

.footer-logo-item {
    color: var(--white-color);
}

.footer-address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-color);
}

.footer-item {
    margin-bottom: 9px;
}

.advances {
    display: flex;
    justify-content: center;
    margin-top: 94px;
    margin-bottom: 94px;
}

.advances-paragraph {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.advances-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

.advances-list {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    gap: 30px;
}

.advances-item {
    width: 270px;
    height: 98px;
}

.link:hover {
    color: var(--accent-color);
}

.team {
    background: var(--background-team-color);
    height: 648px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 50px;
    
}

.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-top: 30px;
}

.team-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    
}

.team-list {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.team-item {
    background: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    height: 368px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-item {
    background: var(--white-color);

}

.portfolio-filters {
    display: flex;
    gap: 30px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    padding-top: 20px;
    padding-left: 24px;
}

.portfolio-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    padding-left: 24px;
}

.portfolio-button {

}

.portfolio-card {
    width: 370px;
    height: 404px;
    border: 1px solid #EEEEEE;
}

.filter-button {
    font-family: 'Roboto';
    font-style: normal;
    background-color: var(--background-team-color);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    padding: 6px 22px;
    margin-top: 94px;
}


.filter-button:hover,
.filter-button:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}

.selected-page {
    color: var(--accent-color);
}